/* No. 5 */
p + p + p {
	color: yellow;
}

/* No. 6 */
* {
	font-family: "Arial", monospace;
	font-size: 20px;

}

/* No. 7 */
h1 {
	font-size: 1.5rem;
}

/* No. 8 */
#htwotags {
	text-transform: uppercase;
}

/* No. 9  */
.languages {
	background-color: green;
}

/* No. 10 */
li[id] {
	border: blue solid;
}

/* No. 11 */
img + ul {
	list-style-type: none;
}


/* No. 12 */
section img {
	height: 150px;
	width: 150px;
	border-radius: 75px;
}

/* No. 13  */
ul ~ p {
	text-align: center;
}

/*No. 14*/
section	> ul > li {
	letter-spacing: 15px;
}